<div class="row">
  <div class="col-md-6">
    <h3>Day 1: <a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a>, <a href="https://swcarpentry.github.io/git-novice">Version Control with Git</a></h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Shell: Introduction, Navigating and Working with Files and Directories</td> </tr> <!-- Episodes 1-3 -->
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Shell: Pipes, Filters, Loops</td> </tr> <!-- Episodes 4-5 -->
      <tr> <td>11:25</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:25</td>  <td>Shell: Scripts, Finding Things</td> </tr> <!-- Episodes 6-7 -->
      <tr> <td>13:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td>Git: Version Control, Setup, Creating Repositories, Tracking Changes and History, Ignoring Things, Remotes</td> </tr> <!-- Episodes 1-7 -->
      <tr> <td>15:40</td>  <td>Afternoon break</td> </tr>      
      <tr> <td>15:55</td>  <td>Git: Collaborating, Conflicts, Open Science, Licensing, Citation, Hosting</td> </tr> <!-- Episodes 8-13 -->
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:10</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: <a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Running and Quitting, Variables, Data Types, Built-in Functions and Help</td> </tr> <!-- Episodes 1-4 -->
      <tr> <td>10:20</td>  <td>Morning break</td> </tr>
      <tr> <td>10:35</td>  <td>Libraries, Reading Tabular Data, DataFrames, Plotting, </td> </tr> <!-- Episodes 6-9 -->
      <tr> <td>12:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Lists, Loops, Conditionals, Looping over Data Sets</td> </tr> <!-- Episodes 11-14 -->
      <tr> <td>14:40</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:55</td>  <td>Writing Functions, Variable Scope, Programming Style</td> </tr> <!-- Episodes 16-18 -->
      <tr> <td>16:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:40</td>  <td><a href="https://carpentries.typeform.com/to/UgVdRQ?slug=2020-01-16-tntech" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>